style.
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
    }

    .content {
        display: flex;
        position: fixed;
        bottom: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        color: #f1f1f1;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background-color: grey;
    }

    .title {
        font-size: 20vw;
        margin: 0;
    }

div.content
  h1.title 404
  br
  br
  p Diese Seite existiert leider nicht. Zurück zu <a href="/">home</a>