doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bulma.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    <section class="hero is-fullheight video">
        <div class="hero-video">
            <video playsinline autoplay loop oncanplay="this.play()">
                <source src="images/keks.mp4" type="video/mp4">
            </video>
        </div>
        <div class="hero-body">
            <div class="container">
                // Text content goes here (h1 and call to action etc...)
            </div>
        </div>
        <div class="hero-foot">
            <div class="has-text-centered">
                // Scroll down arrow here?
            </div>
        </div>
    </section>