body {
  padding-top: 50px;
  padding-bottom: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
  overflow-x: hidden;
}

@media screen and (max-width: 769px) {
 body {
   padding-top: 20px;
   padding-bottom: 20px;
 }
}

.is-vcentered {
  justify-content: center;
}

.logo {
  width: 100%;
  height: 100%;
  max-width: 430px;
}

@media screen and (max-width: 769px) {
  .logo {
    width: 80%;
  }
}

.navbar-start {
  justify-content: center;
  margin: auto;
}

.navbar-item {
  color: gray;
}

.navbar-item:hover {
  color: black !important;
}

.navbar-item.active {
  color: black;
}

.navbar-menu {
  margin-bottom: 30px;
}

.hero.is-info {
  background-color: #89c4f4;
}

.hero.is-error {
  background-color: #FF7F50;
}


.hero.is-info .title,
.hero.is-info .subtitle {
  color: #363636;
}

.media-column {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;

  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .media-column {
    flex-wrap: wrap;
  }

  .column-left {
    margin-bottom: 50px;
  }
}

.column-left {
  flex-grow: 0.5;
  fles-shrink: 1;
  flex-basis: 20%;
}

.column-right {
  padding-left: 20px;
  flex-grow: 2;
  flex-shrink: 4;
}

.team-container {
  margin-bottom: 50px;
}

a:hover {
  color: #89c4f4
}

.button.is-info:hover {
  background-color: #89c4f4;
}

.label {
  margin-top: 30px;
}

.is-thin {
  max-width: 1000px;
}

.button.no-border {
  border: none;
}

span.is-red {
  box-shadow: inset 0 -6px 0 rgba(255,127,80,.4);
}

.button.is-red {
    background-color:rgba(255,127,80,1);
}

.button.is-red:hover {
  background-color:rgba(255,127,80,.8);
}

span.is-green {
  box-shadow: inset 0 -6px 0 rgba(152,251,152,.4);
}

.button.is-green {
    background-color:rgba(152,251,152,1);
}

.button.is-green:hover {
  background-color:rgba(152,251,152,.8);
}

span.is-turquoise {
  box-shadow: inset 0 -6px 0 rgba(175,238,238,.4);
}

.button.is-turquoise {
    background-color:rgba(175,238,238,1);
}

.button.is-turquoise:hover {
  background-color:rgba(175,238,238,.8);
}

span.is-blue {
  box-shadow: inset 0 -6px 0 rgba(32,156,238,.4);
}

.button.is-blue {
    background-color:rgba(32,156,238,1);
}

.button.is-blue:hover {
  background-color:rgba(32,156,238,.8);
}

span.is-yellow {
  box-shadow: inset 0 -6px 0 rgba(255,221,87,.4);
}

.button.is-yellow {
    background-color:rgba(255,221,87,1);
}

.button.is-yellow:hover {
  background-color:rgba(255,221,87,.8);
}